.sidebar {
  z-index: 3;
  background: var(--sidebar-bg-color) !important;
  top: calc(var(--header-height) + 1px);
  width: var(--sidebar-width);
  padding: 2px;
  padding-bottom: 240px;
  box-shadow: 1px 0 1px -1px #888;
  font-weight: 525;
}

.sidenav-item,
.sidenav-expanding-item {
  color: var(--sidebar-fg-color);
  border-radius: 2px;
}

.sidenav-expanding-item.active {
  color: var(--sidebar-expanding-item-active-fg-color);
  background: var(--sidebar-expanding-item-active-bg-color);
}

.sidenav-item.active {
  color: var(--sidebar-item-active-fg-color);
  background: var(--sidebar-item-active-bg-color);
}

.sidenav-expanding-item .chevron-right {
  font-size: 1rem;
}

.sidenav-expanding-item.open .chevron-right {
  transition-duration: 0.33s;
  transform: rotate(90deg);
}

.sidenav-expanding-item.closed .chevron-right {
  transition-duration: 0.33s;
  transform: rotate(0deg);
}
